In [14]:
import pandas as pd
#one-hot encoding
df=pd.DataFrame({'colors':['red','green','blue','orange','yellow']})
print('Dataframe before encoding')
print(df['colors'])
one_hot=pd.get_dummies(df['colors'])
# df1=pd.concat([df,one_hot],axis=1)
# df1=df1.drop('colors',axis=1)
print('Dataframe after encoding')
one_hot

Dataframe before encoding
0       red
1     green
2      blue
3    orange
4    yellow
Name: colors, dtype: object
Dataframe after encoding

    blue  green  orange    red  yellow
0  False  False   False   True   False
1  False   True   False  False   False
2   True  False   False  False   False
3  False  False    True  False   False
4  False  False   False  False    True

In [20]:
#dummy-encoding
print('Before encoding')
print(df['colors'])
dummy=pd.get_dummies(df['colors'],drop_first=True)
print('After encoding')
dummy

Before encoding
0       red
1     green
2      blue
3    orange
4    yellow
Name: colors, dtype: object
After encoding

   green  orange    red  yellow
0  False   False   True   False
1   True   False  False   False
2  False   False  False   False
3  False    True  False   False
4  False   False  False    True

In [22]:
#label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
print('Befor encoding')
print(df['colors'])
df['color_label']=le.fit_transform(df['colors'])
print('After encoding')
df

Befor encoding
0       red
1     green
2      blue
3    orange
4    yellow
Name: colors, dtype: object
After encoding

   colors  color_label
0     red            3
1   green            1
2    blue            0
3  orange            2
4  yellow            4