In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
df=pd.read_csv('cardata.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [3]:
#minmaxscalar

from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()
numeric_cols=['Year','Selling_Price','Present_Price','Kms_Driven','Owner']
df[numeric_cols]=scalar.fit_transform(df[numeric_cols])
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,0.733333,0.093123,0.057109,0.053053,Petrol,Dealer,Manual,0.0
1,sx4,0.666667,0.133238,0.099913,0.085085,Diesel,Dealer,Manual,0.0
2,ciaz,0.933333,0.204871,0.103273,0.012813,Petrol,Dealer,Manual,0.0
3,wagon r,0.533333,0.078797,0.041504,0.009409,Petrol,Dealer,Manual,0.0
4,swift,0.733333,0.128940,0.070980,0.083984,Diesel,Dealer,Manual,0.0

In [4]:
scalar=MinMaxScaler()
numeric_cols=['Year','Selling_Price','Present_Price','Kms_Driven','Owner']
scaled_data=scalar.fit_transform(df[numeric_cols])
scaled_df=pd.DataFrame(scaled_data,columns=numeric_cols)
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,0.733333,0.093123,0.057109,0.053053,Petrol,Dealer,Manual,0.0
1,sx4,0.666667,0.133238,0.099913,0.085085,Diesel,Dealer,Manual,0.0
2,ciaz,0.933333,0.204871,0.103273,0.012813,Petrol,Dealer,Manual,0.0
3,wagon r,0.533333,0.078797,0.041504,0.009409,Petrol,Dealer,Manual,0.0
4,swift,0.733333,0.128940,0.070980,0.083984,Diesel,Dealer,Manual,0.0

In [5]:
# normalization
from sklearn.preprocessing import Normalizer
scaler=Normalizer()
numeric_cols=['Year','Selling_Price','Present_Price','Kms_Driven','Owner']
df[numeric_cols]=scaler.fit_transform(df[numeric_cols])
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,0.986564,0.125280,0.076829,0.071373,Petrol,Dealer,Manual,0.0
1,sx4,0.962833,0.192429,0.144300,0.122884,Diesel,Dealer,Manual,0.0
2,ciaz,0.971005,0.213140,0.107441,0.013330,Petrol,Dealer,Manual,0.0
3,wagon r,0.986194,0.145704,0.076746,0.017399,Petrol,Dealer,Manual,0.0
4,swift,0.974324,0.171313,0.094305,0.111583,Diesel,Dealer,Manual,0.0

In [6]:
# standardization
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
numeric_cols=['Year','Selling_Price','Present_Price','Kms_Driven','Owner']
df[numeric_cols]=scaler.fit_transform(df[numeric_cols])
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,0.408556,-0.251320,-0.264316,-0.317479,Petrol,Dealer,Manual,-0.185282
1,sx4,0.238100,0.229131,0.348941,0.030327,Diesel,Dealer,Manual,-0.185282
2,ciaz,0.296794,0.377322,0.013921,-0.709390,Petrol,Dealer,Manual,-0.185282
3,wagon r,0.405897,-0.105188,-0.265075,-0.681915,Petrol,Dealer,Manual,-0.185282
4,swift,0.320639,0.078044,-0.105473,-0.045978,Diesel,Dealer,Manual,-0.185282