In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
df=pd.read_csv('cardata.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [23]:
X=df[['Car_Name','Year','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']]
y=df['Selling_Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=104, test_size=0.25, shuffle=False)
# print(X_train)
print(X_train.head())
# print(X_train.shape())
print(X_test.head())
print(f'y \n{y_train.head()}')
print(y_test.head())

  Car_Name  Year  Present_Price  Kms_Driven Fuel_Type Seller_Type  \
0     ritz  2014           5.59       27000    Petrol      Dealer
1      sx4  2013           9.54       43000    Diesel      Dealer
2     ciaz  2017           9.85        6900    Petrol      Dealer
3  wagon r  2011           4.15        5200    Petrol      Dealer
4    swift  2014           6.87       42450    Diesel      Dealer

  Transmission  Owner
0       Manual      0
1       Manual      0
2       Manual      0
3       Manual      0
4       Manual      0
      Car_Name  Year  Present_Price  Kms_Driven Fuel_Type Seller_Type  \
225        i10  2011           4.60       22517    Petrol      Dealer
226  grand i10  2015           5.70       24678    Petrol      Dealer
227        i10  2011           4.43       57000    Petrol      Dealer
228      verna  2012           9.40       60000    Diesel      Dealer
229        i20  2012           6.79       52132    Diesel      Dealer

    Transmission  Owner
225       Manual      0
226       Manual      0
227       Manual      0
228       Manual      0
229       Manual      0
y
0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64
225    2.70
226    5.25
227    2.55
228    4.95
229    3.10
Name: Selling_Price, dtype: float64