In [1]:
import pandas as pd
df=pd.read_csv('TV_show_data.csv')
df

,Name,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,All-Star Academy,Ten talented and successful home cooks from ar...,60.0,2015-03-01,2016-04-03,['Food'],Game Show,English,Food Network,NaN,['Sunday'],21:00,2,16,"0-Host, 1-Mentor, 2-Mentor, 3-Mentor, 4-Mentor...","0-Ted Allen, 1-Alex Guarnaschelli, 2-Curtis St...",http://www.foodnetwork.com/shows/all-star-academy
1529,Neighbors with Benefits,The series follows multiple married couples as...,60.0,2015-03-22,2015-03-29,[],Reality,English,A&E,NaN,['Sunday'],22:00,1,2,NaN,NaN,NaN
1530,Funny Girls,The series follows the professional and person...,60.0,2015-04-07,2015-05-26,['Comedy'],Reality,English,Oxygen,NaN,['Tuesday'],21:00,1,8,"0-Ester Steinberg, 1-Scout Durwood, 2-Jess Var...","0-Ester Steinberg, 1-Scout Durwood, 2-Jess Var...",http://www.oxygen.com/funny-girls
1531,Cedric's Barber Battle,"CEDRIC'S <i>BARBER BATTLE</i>, an all-new real...",30.0,2015-04-17,2015-07-27,[],Reality,English,The CW,NaN,['Monday'],21:30,1,11,0-Host,0-Cedric the Entertainer,NaN
1532,The Ambassador,The Ambassador follows the private and politic...,50.0,1998-01-04,1999-05-30,['Drama'],Scripted,English,BBC One,NaN,['Sunday'],21:00,2,13,"0-Harriet Smith, 1-John Stone","0-Pauline Collins, 1-Denis Lawson",NaN

In [2]:
df.head()

,Name,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533 entries, 0 to 1532
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             1533 non-null   object
 1   Summary          1533 non-null   object
 2   Average Runtime  1532 non-null   float64
 3   End Date         1532 non-null   object
 4   Premiere Date    1377 non-null   object
 5   Genres           1533 non-null   object
 6   Type             1533 non-null   object
 7   Language         1533 non-null   object
 8   Network          1464 non-null   object
 9   Rating           1255 non-null   float64
 10  Schedule (days)  1533 non-null   object
 11  Schedule (time)  1366 non-null   object
 12  Total Seasons    1533 non-null   int64
 13  Total Episodes   1533 non-null   int64
 14  Character Names  1376 non-null   object
 15  Person Names     1376 non-null   object
 16  Official Site    783 non-null    object
dtypes: float64(2), int64(2), object(13)
memory usage: 203.7+ KB

In [4]:
#selecting columns
df['Name'].head()

0                  Breaking Bad
1                       Firefly
2    Avatar: The Last Airbender
3                      Sherlock
4               Attack on Titan
Name: Name, dtype: object

In [5]:
df.Name.head()

0                  Breaking Bad
1                       Firefly
2    Avatar: The Last Airbender
3                      Sherlock
4               Attack on Titan
Name: Name, dtype: object

In [6]:
#seleting multiple columns
df_1=df[['Name','Average Runtime']]
df_1

                            Name  Average Runtime
0                   Breaking Bad             60.0
1                        Firefly             64.0
2     Avatar: The Last Airbender             30.0
3                       Sherlock             90.0
4                Attack on Titan             26.0
...                          ...              ...
1528            All-Star Academy             60.0
1529     Neighbors with Benefits             60.0
1530                 Funny Girls             60.0
1531      Cedric's Barber Battle             30.0
1532              The Ambassador             50.0

[1533 rows x 2 columns]

In [7]:
cols=['Name','Average Runtime']
df_1=df[cols]
df_1.head()

                         Name  Average Runtime
0                Breaking Bad             60.0
1                     Firefly             64.0
2  Avatar: The Last Airbender             30.0
3                    Sherlock             90.0
4             Attack on Titan             26.0

In [8]:
#selecting with dtype
df[['Name',"Average Runtime"]].get_dtype_counts()

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

In [ ]:
df.select_dtype(include=['float']).head()

In [9]:
#filter
df.filter(like="Date").head()

     End Date Premiere Date
0  2008-01-20    2019-10-11
1  2002-09-20    2002-12-20
2  2005-02-21    2008-07-19
3  2010-07-25    2017-01-15
4  2013-04-07    2023-11-04

In [10]:
df.filter(like='Name').head()

,Name,Character Names,Person Names
0,Breaking Bad,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3..."
1,Firefly,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,..."
2,Avatar: The Last Airbender,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3..."
3,Sherlock,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman"
4,Attack on Titan,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji"

In [ ]:
#selecting all columns
df.columns

In [12]:
group_1=['Name', 'Summary','Genres', 'Type','Schedule (time)', 'Total Seasons']
group_2=[ 'Average Runtime', 'End Date', 'Language', 'Network','Total Episodes', 'Character Names']
group_3=['Premiere Date','Rating', 'Schedule (days)','Person Names', 'Official Site']

In [13]:
#concatinating all groups to new_cols
new_cols=group_1+group_2+group_3

In [14]:
#checking both are same
set(df.columns)==set(new_cols)

True

In [15]:
df_1=df[new_cols]
df_1.head()

,Name,Summary,Genres,Type,Schedule (time),Total Seasons,Average Runtime,End Date,Language,Network,Total Episodes,Character Names,Premiere Date,Rating,Schedule (days),Person Names,Official Site
0,Breaking Bad,"Breaking Bad follows protagonist Walter White,...","['Drama', 'Crime', 'Thriller']",Scripted,22:00,5,60.0,2008-01-20,English,AMC,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...",2019-10-11,9.2,['Sunday'],"0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
1,Firefly,"Five hundred years in the future, a renegade c...","['Drama', 'Adventure', 'Science-Fiction']",Scripted,20:00,1,64.0,2002-09-20,English,FOX,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...",2002-12-20,9.0,['Friday'],"0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
2,Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,"['Action', 'Adventure', 'Fantasy']",Animation,11:00,3,30.0,2005-02-21,English,Nickelodeon,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...",2008-07-19,8.9,['Saturday'],"0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
3,Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,"['Drama', 'Crime', 'Mystery']",Scripted,21:00,4,90.0,2010-07-25,English,BBC One,12,"0-Sherlock Holmes, 1-Dr. John Watson",2017-01-15,8.9,['Sunday'],"0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
4,Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...","['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,00:10,4,26.0,2013-04-07,Japanese,NHK,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger",2023-11-04,8.9,['Saturday'],"0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

In [ ]:
#changing index
# df_name=df.drop_duplicates(subset='Name')
# df_name.shape

In [16]:
#setting index
df.set_index('Name',inplace=True)
df.head()

,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
Name,,,,,,,,,,,,,,,,
Breaking Bad,"Breaking Bad follows protagonist Walter White,...",60.0,2008-01-20,2019-10-11,"['Drama', 'Crime', 'Thriller']",Scripted,English,AMC,9.2,['Sunday'],22:00,5,62,"0-Walter White, 1-Jesse Pinkman, 2-Skyler Whit...","0-Bryan Cranston, 1-Aaron Paul, 2-Anna Gunn, 3...",http://www.amc.com/shows/breaking-bad
Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

In [22]:
#selecting rows using iloc
df.iloc[2]

Summary            Water. Earth. Fire. Air. Only the Avatar was t...
Average Runtime                                                 30.0
End Date                                                  2005-02-21
Premiere Date                                             2008-07-19
Genres                            ['Action', 'Adventure', 'Fantasy']
Type                                                       Animation
Language                                                     English
Network                                                  Nickelodeon
Rating                                                           8.9
Schedule (days)                                         ['Saturday']
Schedule (time)                                                11:00
Total Seasons                                                      3
Total Episodes                                                    61
Character Names    0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...
Person Names       0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...
Official Site                      https://www.nick.com/shows/avatar
Name: Avatar: The Last Airbender, dtype: object

In [30]:
df.loc[['Attack on Titan']]

,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
Name,,,,,,,,,,,,,,,,
Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/

In [31]:
df.iloc[[2,4,6]]

,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
Name,,,,,,,,,,,,,,,,
Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/
One Piece,One Piece animation is based on the successful...,26.0,1999-10-20,NaN,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,Fuji TV,8.9,['Sunday'],09:30,11,1111,"0-Monkey D. Luffy, 1-Nami, 2-Roronoa Zoro, 3-S...","0-Mayumi Tanaka, 1-Akemi Okamura, 2-Kazuya Nak...",http://www.toei-anim.co.jp/tv/onep/

In [32]:
#silicing
df.iloc[1:7]

,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
Name,,,,,,,,,,,,,,,,
Firefly,"Five hundred years in the future, a renegade c...",64.0,2002-09-20,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",Scripted,English,FOX,9.0,['Friday'],20:00,1,14,"0-Captain Malcolm ""Mal"" Reynolds, 1-Zoe Alleyn...","0-Nathan Fillion, 1-Gina Torres, 2-Alan Tudyk,...",NaN
Avatar: The Last Airbender,Water. Earth. Fire. Air. Only the Avatar was t...,30.0,2005-02-21,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Animation,English,Nickelodeon,8.9,['Saturday'],11:00,3,61,"0-Aang, 1-Katara, 2-Sokka, 3-Zuko, 4-Appa, 5-M...","0-Zach Tyler, 1-Mae Whitman, 2-Jack De Sena, 3...",https://www.nick.com/shows/avatar
Sherlock,Sherlock Holmes and Dr. John Watson's adventur...,90.0,2010-07-25,2017-01-15,"['Drama', 'Crime', 'Mystery']",Scripted,English,BBC One,8.9,['Sunday'],21:00,4,12,"0-Sherlock Holmes, 1-Dr. John Watson","0-Benedict Cumberbatch, 1-Martin Freeman",http://www.bbc.co.uk/programmes/b018ttws
Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/
The Wire,The first season of The Wire (2002) concentrat...,60.0,2002-06-02,2008-03-09,"['Drama', 'Crime']",Scripted,English,HBO,8.9,['Sunday'],21:00,5,60,"0-Lt. Cedric Daniels, 1-Det. Shakima ""Kima"" Gr...","0-Lance Reddick, 1-Sonja Sohn, 2-Dominic West,...",http://www.hbo.com/the-wire
One Piece,One Piece animation is based on the successful...,26.0,1999-10-20,NaN,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,Fuji TV,8.9,['Sunday'],09:30,11,1111,"0-Monkey D. Luffy, 1-Nami, 2-Roronoa Zoro, 3-S...","0-Mayumi Tanaka, 1-Akemi Okamura, 2-Kazuya Nak...",http://www.toei-anim.co.jp/tv/onep/

In [33]:
first='Attack on Titan'
last='One Piece'
df.loc[first:last]

,Summary,Average Runtime,End Date,Premiere Date,Genres,Type,Language,Network,Rating,Schedule (days),Schedule (time),Total Seasons,Total Episodes,Character Names,Person Names,Official Site
Name,,,,,,,,,,,,,,,,
Attack on Titan,"Known in Japan as Shingeki no Kyojin, many yea...",26.0,2013-04-07,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,NHK,8.9,['Saturday'],00:10,4,89,"0-Mikasa Ackerman, 1-Armin Arlert, 2-Eren Jaeger","0-Yui Ishikawa, 1-Marina Inoue, 2-YÃ»ki Kaji",http://shingeki.tv/
The Wire,The first season of The Wire (2002) concentrat...,60.0,2002-06-02,2008-03-09,"['Drama', 'Crime']",Scripted,English,HBO,8.9,['Sunday'],21:00,5,60,"0-Lt. Cedric Daniels, 1-Det. Shakima ""Kima"" Gr...","0-Lance Reddick, 1-Sonja Sohn, 2-Dominic West,...",http://www.hbo.com/the-wire
One Piece,One Piece animation is based on the successful...,26.0,1999-10-20,NaN,"['Action', 'Adventure', 'Anime', 'Fantasy']",Animation,Japanese,Fuji TV,8.9,['Sunday'],09:30,11,1111,"0-Monkey D. Luffy, 1-Nami, 2-Roronoa Zoro, 3-S...","0-Mayumi Tanaka, 1-Akemi Okamura, 2-Kazuya Nak...",http://www.toei-anim.co.jp/tv/onep/

In [34]:
#selecting rows and columns
df.iloc[:,[3,4,7]].head()#selecting all rows and 3,4,7 columns

,Premiere Date,Genres,Network
Name,,,
Breaking Bad,2019-10-11,"['Drama', 'Crime', 'Thriller']",AMC
Firefly,2002-12-20,"['Drama', 'Adventure', 'Science-Fiction']",FOX
Avatar: The Last Airbender,2008-07-19,"['Action', 'Adventure', 'Fantasy']",Nickelodeon
Sherlock,2017-01-15,"['Drama', 'Crime', 'Mystery']",BBC One
Attack on Titan,2023-11-04,"['Action', 'Adventure', 'Anime', 'Fantasy']",NHK